<h1>Copy the Cheatsheat... Updated the Routes... Control C the Server if it's on... Start the server with Rails S....
And then make sure you've helper linked to the right page.... from the partial.

Then... it's just a matter of updating a static page.
</h1>