 <div id="bookmark" class="span3">
   <nav id="menu">
     <div class="wrapper">
       <h1>2012</h1>
       <h4>RailsBridge West</h4>
       <ul>
         <li class="page_item page-item-44"><a href="/">About Us</a></li>
         <li class="page_item page-item-46"><a href="/">Our Mission</a>
           <ul class="children">
             <li class=""><a href="/">Resources</a></li>
             <li class=""><a href="/">Cheatsheets</a></li>
           </ul>
         </li>
         <li class="/"><a href="/">Calendar</a>
           <ul class="children">
   	        <li class=""><a href="/">La Meetups</a></li>
   	        <li class=""><a href="/">CA Meetups</a></li>
           </ul>
         </li>
   			</ul>
   		</div>
   	</nav>
</div>

<div class="row-fluid">
  <div class="hero span12">   
    <div class="main-message">
      <h1>'cuz static sites</h1>
      <h3>just don't cut it anymore!</h3>
    </div>
    <div class="span3">
      <h3>This will be a heading</h3>
      <p>And this will be the copy showcasing something regarding a call to action</p>
    </div>
    <div class="span3">
      <h3>This will be a heading</h3>
      <p>And this will be the copy showcasing something regarding a call to action</p>
    </div>
    <div class="span3">
      <h3>This will be a heading</h3>
      <p>And this will be the copy showcasing something regarding a call to action</p>
    </div>
  </div>  
</div>
