 <div id="bookmark" class="span3">
   <nav id="menu">
     <div class="wrapper">
       <h4>Next Workshop:</h4>
       <h2>Friday, <br> Sept. 21, 2012</h2>
       <h4><a href="/">Hosted at Carbon5</a></h4>
       <ul>
         <li class="highlight">Fri.: 6 - 9 pm: Installfest</li>
         <li class="highlight">Sat: 9 am - 4 pm: Workshop</li>
         <li class="page_item page-item-44"><a href="/">1207 4th Street, Suite 350</a></li>
         <li class="page_item page-item-44"><a href="/">Santa Monica, CA 90401</a></li>
       </ul>
       <div>
         <iframe width="200" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1207+4th+Street,+Suite+350,+Santa+Monica,+CA&amp;ie=UTF8&amp;hq=&amp;hnear=1207+4th+St,+Santa+Monica,+Los+Angeles,+California+90401&amp;t=m&amp;ll=34.018945,-118.497934&amp;spn=0.014228,0.01708&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=1207+4th+Street,+Suite+350,+Santa+Monica,+CA&amp;ie=UTF8&amp;hq=&amp;hnear=1207+4th+St,+Santa+Monica,+Los+Angeles,+California+90401&amp;t=m&amp;ll=34.018945,-118.497934&amp;spn=0.014228,0.01708&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#8888;text-align:left">View Larger Map</a></small></div>
   	 </div>
   </nav>
 </div>

 <div class="row-fluid">
   <div class="hero-unit span11">   
     <div class="main-message span6">
       <h3>learn to program together!</h3>
       <h1>Talk shop, build an app & learn to code!</h1>
     </div>
     <div class="span6 red-bkgrnd" id="opacity-90">
       <h4>Free Workshops for Women</h4>
       <p>Web design has become more sophisticated, making the knowledge of back-end development priceless.
         RailsBridge is dedicated to increase gender diversity in the Ruby community by helping women learn Ruby and RoR via a free series of outreach workshops in the Los Angeles area. <br>
       </p>
       <p> 
         All levels of experience welcome; from having never coded to years of experience! 
         <span class="accent-white"><br> Come Join Us!</span>
       </p> 
     </div>
     <div id="canvas" class="span4 right">
       <a href="/"><div id="twitter"></div></a>
       <a href="/"><div id="github"></div></a>
       <a href="/"><div id="linkedin"></div></a>  
     </div>  
   </div>
 </div>
