//
// Accordion
// --------------------------------------------------


// Parent container
.accordion {
  margin-bottom: $baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 2px;
  border-bottom: 1px solid #e5e5e5;
  @include border-radius(0px);
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 0px;
}

.accordion-heading a.accordion-toggle  {
  color: $grayLight;
  font-weight: 500;
}

.accordion-heading a:hover.accordion-toggle {
  color: $grayDarker;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: white;
  font-size: 12px;
  line-height: 17px;
}
