//
// Hero unit
// --------------------------------------------------


.hero-unit {
  padding: 30px 60px 43px 50px;
  margin-bottom: 10px;
  background: 
    //image-url("mannequin1.png") 200px 10px no-repeat,  
    $heroUnitBackground 0 0 repeat;
  background-position: top center;
  background-size: 92%;
  @include border-radius(6px);
  h1 {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 33px;
    line-height: 1.125;
    color: $heroUnitHeadingColor;
    letter-spacing: -1px;
    font-family: "ff-cocon-web-pro";
  }
  h3 {
   font-family: "ff-cocon-web-pro";
   font-style: italic;
   font-size: 25px;
   line-height: 20px;
   margin-left: 20px;
  }
  h4 {
   color: $white;
  }
  p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: $baseLineHeight * 1.2;
    color: $white;
  }
  span.accent-white {
    color: white;
    font-family: "bello-pro";
    font-size: 20px;
    line-height: $baseLineHeight * 1.85;
  }
}
 
.hero-unit .red-bkgrnd {
    background-color: $deep-red;
    @include border-radius(15px);
    padding: 10px 20px;
    margin: 0px;
 }

