//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px) {

  // Fixed grid
  @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);

  // Fluid grid
  @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);

  // Input grid
  @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -$gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: $gridGutterWidth1200;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
  .cheat-sheets {
    padding: 30px;
    margin: 10px 0px 30px 0px;
    background: url("shattered-tall.png") 0 0 repeat;
    background-position: top center;
    background-size: 60%;
    height: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
  }
  .git-three-readme {
    background: white url("create_repo_readme2.png") no-repeat;
    height: 365px;
    background-size: 95%;
    background-position-x: 0px;
  }
  
}


