#bookmark {
  position: absolute;
  z-index: 100000;
  background-color: $grayDark;
  margin: auto;
  padding: 20px;
  left: 40%;
  margin-left: 15%;
  top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 220px;
}

#menu .wrapper h2 {
  color: white;
  font-family: "ff-cocon-web-pro",sans-serif;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: .0em;
}

#menu .wrapper h3 {
  color: $white;
}
#menu .wrapper h4 {
  color: $red;
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-weight: 500;
}

#menu .wrapper li a  {
  color: $grayLight;
}

#menu .wrapper li a:hover  {
  color: $red;
  text-decoration: none;
}

.main-message {
  height: 130px;
  margin: 25px 200px 0px 0;
}

.cheat-sheets {
  padding: 30px;
  margin: 40px 0px;
  background: 
    $heroUnitBackground 0 0 repeat;
  background-position: top center;
  background-size: 720px;
  height: 720px;
  @include border-radius(6px);
  h1 {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 33px;
    line-height: 1.125;
    color: $heroUnitHeadingColor;
    letter-spacing: -1px;
    font-family: "ff-cocon-web-pro";
  }
  h2 {
   font-family: "ff-cocon-web-pro";
   font-style: italic;
   font-size: 27px;
   line-height: 23px;
  }
  h4 {
   color: $white;
  }
  h4.small {
   color: $white;
   font-size: 12px;
   line-height: $baseLineHeight * +.8;
   
  }
  h5 {
    color: $white;
  }
  p {
    font-size: 13px;
    font-weight: 500;
    line-height: $baseLineHeight * .8;
    color: $grayDark;
    margin: 0 15px 10px 0px;
  }
  span.accent-white {
    color: white;
    font-family: "bello-pro";
    font-size: 20px;
    line-height: $baseLineHeight * 1.5;
  }
  .red-bkgrnd {
      background-color: $deep-red;
      @include border-radius(15px);
      padding: 10px 20px 30px 20px;
      margin: 0px;
   }
}

#canvas { 
  position: absolute;
  z-index: 100000;
  margin: auto;
  left: 55%;
  top: 500px;
  width: 220px; 
}

// Get rid of the #canvas once we update the page
.canvas { 
  position: relative;
  margin: 0;
  top: 15px;
  width: 220px; 
}    

#twitter {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-right: -10px;
  padding: 12px 3px 2px 17px;
  position: relative;
}

#github {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-right: -20px;
  padding: 12px 3px 2px 17px;
  position: relative;
}

#linkedin {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-left: 10px;
  padding: 12px 3px 2px 17px;
  position: relative;
}

.git-map {
  background-color: white;
  height: 560px;
  margin: 17px 20px 0px 0px;
  @include border-radius(15px);
}

.git-one {
  background: url("what_is_git.png") no-repeat;
  height: 560px;
  background-size: 100%;
}

.git-two {
  background: url("git_started.png") no-repeat;
  height: 560px;
  background-size: 100%;
}
.coding {
  margin: 0px;
  padding-left: 0px;
  h5.steps {
    line-height: $baseLineHeight * +1;
    margin-top: 0px;
    font-size: 16px;
    color: $grayLight;
  }
}   