@import url('socialicoregular.scss'); /*social font*/
@import url('font-awesome.scss'); /*icon font */

#bookmark {
  position: relative;
  background-color: $grayDark;
  margin: auto;
  padding: 10px 0 40px 20px;
  top: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  @include border-radius(10px);
}

#bookmark h2 {
  color: white;
  font-family: "ff-cocon-web-pro",sans-serif;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: .0em;
}

#bookmark h3 {
  color: $white;
}
#bookmark h4 {
  color: $red;
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-weight: 500;
}

#bookmark li a  {
  color: $grayLight;
}

#bookmark li a:hover  {
  color: $red;
  text-decoration: none;
}

.main-message {
  margin: 25px 40px 25px 0;
}

.cheat-sheets {
  padding: 30px;
  margin: 10px 0px 30px 0px;
  background: url("shattered-tall.png") 0 0 repeat;
  background-position: top center;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  h1 {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 33px;
    line-height: 1.125;
    color: $heroUnitHeadingColor;
    letter-spacing: -1px;
    font-family: "ff-cocon-web-pro";
  }
  h2 {
   font-family: "ff-cocon-web-pro";
   font-style: italic;
   font-size: 27px;
   line-height: 23px;
  }
  h4 {
   color: $white;
  }
  h4.small {
   color: $white;
   font-size: 12px;
   line-height: $baseLineHeight * +.8;
   
  }
  h5 {
    color: $white;
  }
  p {
    font-size: 13px;
    font-weight: 500;
    line-height: $baseLineHeight * .8;
    color: $grayDark;
    margin: 0 15px 10px 0px;
  }
  span.accent-white {
    color: white;
    font-family: "bello-pro";
    font-size: 20px;
    line-height: $baseLineHeight * 1.5;
  }
  .red-bkgrnd {
      background-color: $deep-red;
      @include border-radius(15px);
      padding: 10px 20px 30px 20px;
      margin: 0px;
   }
}

#canvas { 
  position: absolute;
  z-index: 100000;
  margin: auto;
  margin-bottom: 50px;
  left: 55%;
  top: 500px;
  width: 220px; 
}

// Get rid of the #canvas once we update the page
.canvas  { 
  position: relative;
  margin: auto;
  padding: auto;  
  top: 15px;
  height: 65px; 
}    

#twitter {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-right: -10px;
  padding: 12px 3px 2px 18px;
  position: relative;
}

#github {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-right: -20px;
  padding: 13px 3px 2px 19px;
  position: relative;
}

#linkedin {
  background-image: url("jewels.png");
  background-size: 67px;
  float: left;
  width: 50px;
  height: 45px;
  margin-left: 10px;
  padding: 12px 3px 2px 19px;
  position: relative;
}

.social li {
  display: inline-block;
  padding: 0 7px 0 7px;     
}
.social li a:hover {
  opacity: .5;
}

.git-map {
  background-color: white;
  height: 510px;
  margin: 17px 10px 10px 0px;
  @include border-radius(15px);
}

.git-one {
  background: #CDCFD0 url("what_is_git.png") no-repeat 0 -10px;
  background-size: 100%;
}

.git-two {                                                                                  
  background: #CDCFD0 url("git_started.png") no-repeat;
  background-size: 95%;
}
.git-three {                                                                                  
  background: #CDCFD0 url("git_a_repository.png") no-repeat;
  background-size: 100%;
}
.git-three-repo {
  background: #fff url("create_a_repo_logo.png") no-repeat;
  height: 85px;
  background-size: 55%;
  background-position: center;
}
.git-three-naming {
  background: #fff url("create_a_repo_naming.png") no-repeat;
  height: 65px;
  background-size: 100%;
  background-position-x: 0px;
}
.git-three-description {
  background: white url("create_a_repo_description.png") no-repeat;
  height: 85px;
  background-size: 170%;
  background-position-x: -8px;
}
.git-three-public {
  background: white url("create_a_repo_public.png") no-repeat;
  height: 125px;
  background-size: 105%;
  background-position-x: -8px;
}
.git-three-create {
  background: white url("create_a_repo_button.png") no-repeat;
  height: 55px;
  background-size: 35%;
  background-position-x: -8px;
}
                                                                                                        
.coding {
  margin: 0px;
  padding-left: 0px;
  h6.steps {
    line-height: $baseLineHeight * +1;
    margin-top: 0px;
    color: $grayLight;
    font-style: italic;
    background-color: black;
    padding-left: 5px;
  }
}
.gem {
  max-width: 170%;
}

.big_border {
  border-bottom: 10px solid $grayLight;
  padding: 10px;
  margin-bottom: 10px;
}

.big_border_top {
  border-top: 10px solid $grayLight;
  padding: 15px 0px;
  margin-bottom: 10px;
}

h6.legal {
  margin-left: 10px;
}

/*	image widget in footer and sidebar
================================================== */
ul.image-widget {
    position: relative;
    left: -5px;
    margin:0;
    padding:0;
}
.image-widget li {
    float: left;
    margin: 0 5px 10px 5px;
    width: 50px;
    height: 50px;
	list-style:none;
}
/*sidebar image widget */
.widget .image-widget li {
    width: 45px;
    height: 45px;
}
   