#bookmark {
  position: absolute;
  z-index: 100000;
  background-color: $grayDark;
  margin: auto;
  padding: 20px;
  left: 45%;
  margin-left: 150px;
  top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 220px;
}

#menu .wrapper h2 {
  color: white;
  font-family: "ff-cocon-web-pro",sans-serif;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: .05em;
}

#menu .wrapper h3 {
  color: $white;
}
#menu .wrapper h4 {
  color: $red;
  font-family: "ff-basic-gothic-web-pro",sans-serif;
  font-weight: 500;
}

#menu .wrapper li a  {
  color: $grayLight;
}

#menu .wrapper li a:hover  {
  color: $red;
  text-decoration: none;
}

.main-message {
  height: 160px;
  margin: 0 200px 0px 0;
}

#canvas { 
  position: absolute;
  z-index: 100000;
  margin: auto;
  left: 45%;
  margin-left: 150px;
  top: 530px;
  width: 220px; 
}

#twitter {
  background-image: url("jewels.png");
  background-size: 84px;
  float: left;
  width: 63px;
  height: 50px;
  margin-right: -20px;
  padding: 17px 3px 2px 26px;
  position: relative;
}

#github {
  background-image: url("jewels.png");
  background-size: 84px;
  float: left;
  width: 63px;
  height: 50px;
  margin-right: -20px;
  padding: 17px 3px 2px 27px;
  position: relative;
}

#linkedin {
  background-image: url("jewels.png");
  background-size: 84px;
  float: left;
  width: 63px;
  height: 50px;
  margin-right: -20px;
  padding: 18px 3px 2px 26px;
  position: relative;
}